.item-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #949494;
}

.item-title {
  font-size: 16px;
  margin-left: 10px;
}

.item-completed {
  text-decoration: line-through;
  color: #888;
}
